@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,400;0,9..40,500;0,9..40,700;1,9..40,400;1,9..40,500;1,9..40,700&display=swap'),
  url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap'),
  url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&display=swap');

// COLORS
$dark: #141414;
$dark-light: #1f1f1f;
$dark-extra-light: #292929;
$light: #cdb58f;
$green: #008545;
$red: #853000;
$yellow: #857700;

// FONTS
$DM-Sans: 'DM Sans', sans-serif;
$Archivo-Black: 'Archivo Black', sans-serif;
$Libre-Barcode: 'Libre Barcode 128 Text', sans-serif;

// FONT WEIGHT
$regular: 400;
$medium: 500;
$bold: 700;
