@import '../../../styles/variables';

.checkout__page {
  .checkout-nav {
    position: relative;
    text-align: center;
    margin: 3rem 0 0;

    hr {
      position: relative;
      top: 1.5rem;
      border: 1px solid $light;
    }

    &__title {
      position: relative;
      display: inline-block;
      font-family: $Archivo-Black;
      text-transform: uppercase;
      background-color: $dark;
      padding: 0 2rem;
    }
  }

  .checkout-details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 2rem;

    .checkout-session-card {
      font-style: italic;
      border-left: 2px solid $light;
      width: 30rem;

      .checkout-movie-details {
        border-bottom: 2px solid $light;
        padding: 1rem 1rem 0.5rem;

        &__img {
          width: 10rem;
        }
      }

      .checkout-session-details {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding: 1rem;

        &__field {
          background-color: $light;
          color: $dark;
          padding: 0.2rem;

          span {
            font-weight: bold;
            font-style: normal;
          }
        }

        &__seats {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          gap: 0.3rem;
        }
      }
    }
  }
}
