@import '../../../../styles/variables';

.nav-btn {
  padding: 0.5rem;
  background-color: $light;
  color: $dark;
  font-family: $Archivo-Black;
  text-transform: uppercase;
  border: none;
  cursor: pointer;

  &--light {
    background-color: $light;
    color: $dark;

    &:hover {
      background-color: $green;
      color: $dark;
    }
  }

  &--green {
    background-color: $green;
    color: $dark;

    &:hover {
      background-color: $light;
      color: $dark;
    }
  }
}
