@import '../../../styles/variables';

header {
  background-color: $dark-light;
  border-bottom: 2px solid $light;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 4rem;
  text-transform: uppercase;

  .header__text {
    font-family: $Libre-Barcode;
    font-size: 3rem;
    cursor: pointer;
  }

  .header__nav {
    font-family: $Archivo-Black;
    font-size: 1.4rem;
    display: flex;
    gap: 2rem;

    .header__nav-item {
      cursor: pointer;
    }

    hr {
      border: 1px solid $light;
      transform: rotate(90deg);
    }
  }
}
