@import '../../../../styles/variables';

.input {
  background-color: $dark-extra-light;
  padding: 0.5rem;
  border: none;
  color: $light;
  font-family: $DM-Sans;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: $light;
    font-style: italic;
  }
}
